@font-face{
    font-family: playregular;
    src: url(../fonts/playregular.ttf);
}

@font-face{
    font-family: playbold;
    src: url(../fonts/playbold.ttf);
}

@font-face{
    font-family: alegreyasansbold;
    src: url(../fonts/alegreyasansbold.ttf);
}

@font-face{
    font-family: alegreyasansregular;
    src: url(../fonts/alegreyasansregular.ttf);
}

$containerWidth:940px;
$baseFontSize:16px;
$tablets:768px;
$phones:480px;

html{
    font-size: $baseFontSize;

    @include tablets{
        font-size: $baseFontSize - 1px;
    }

    @include phones{
        font-size: $baseFontSize - 2px;
    }
}

html, body{
    height: 100%;
}

body{
    font-family: 'playregular', Helvetica, sans-serif;
    line-height: 1.42;
    color: #292929;
    
}

.wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.wrapper-content{
    height: 100%;
    transition: transform 1s;
    will-change: transform;
}

.main-content{
    height: 100%;
}

header{
    position: absolute;
    width:100%;
    top: 0%;
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
}


*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #292929;
}

p{
    margin: rem(0px);
}

h1,h2,h3,h4,h5,h6{
    margin: rem(0px);
}

ul{
    margin: rem(0px);
    padding: rem(0px);
}

li{
    list-style: none;
}

header{
    background:#f5f5f5;
}

img{
    max-width: 100%;
}


.container-header{
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: rem(24px);
    align-items: center;
}

.modal-container{
    width:95%;
    display: flex;
    justify-content: space-between;
    padding-top: rem(17px);
    align-items: center;
    margin:  0 auto;
}

.container-hello{
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
}

.container-why{
    margin: 0 auto;
    width: 95%;
    max-width: $containerWidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(100px);
    padding-bottom: rem(100px);
}

.container-assortment{
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    position: relative;
}

.container-team{
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
}

.container-reviews{
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-player{
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-order{
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-modal{
    width: rem(309px);
    height: rem(176px);
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background:#FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container-footer{
    width: 95%;
    display: flex;
    justify-content: space-between;
    max-width: $containerWidth;
    margin: 0 auto;
    align-items: center;
}

