.hello__button{
    margin-top: rem(54px);
}
.button{
    font-family: playbold;
    text-transform: uppercase;
    padding: rem(18px) rem(41px);
    border-radius: rem(100px);
    background:#E01F3D;
    color: #fff;
}

button{
    border: none;
}

.form__buttons button{
    padding: rem(21px) rem(41px);
    margin-right: rem(15px);
}

.form__buttons{
    .button--reset{
        padding: 0;
        background: none;
        font-family: playregular;
        text-transform: none;
    }
}

.modal-btn{
    font-family: playbold;
    text-transform: uppercase;
    padding: rem(18px) rem(41px);
    border-radius: rem(100px);
    background:#E01F3D;
    color: #fff;
}