.contact{
    display: flex;
    align-items: center;
    .contact__img{
        width: rem(14px);
        height: rem(14px);
    }
    .contact__phone{
        margin-left: rem(6px);
    }
}

.header__contant{
    white-space: nowrap;
    @include tablets{
        display: none;
    }
}
