.reviews{
    padding-top: rem(68px);
    padding-bottom: rem(63px);
}

.review__title{
    font-family: playbold;
    font-size: rem(48px);
    line-height: 1.08;
    text-transform: uppercase;
}

.review-list{
    margin-top: rem(32px);
    background: #F8FAF9;
    padding:rem(42px) rem(0px) rem(42px) rem(42px);
}

.review-item{
    display: flex;
    overflow: hidden;
    height: 0px;
}

.reviewactive{
    height: auto;
}

.review-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(32px) rem(107px) rem(21px) rem(0px); 
    margin-left: rem(38px);
    .review-title{
        font-family: playbold;
        text-transform: none;
        font-size: rem(24px);
        color: #292929;
        line-height: 1.16;
    }
    .review-subtitle{
        color: #666666;
        line-height: 1.18;
    }
    .review-name{
        font-size: rem(18px);
        line-height: 1.16;
    }
    
}

.switcher__humans{
    margin-top: rem(15px);
    .switcher__list{
        display: flex;
        .switcher__item{
            margin-right: rem(6px);
        &:last-child{
            margin-right: rem(0px);
        }
            .switcher__item-link{
                display: flex;
            }
            .switcher__item-img{
                width: rem(74px);
                height: rem(74px);
                border-radius: 50%;
            }

        }
    }
}

.activelink{
    .switcher__item-link{
        box-shadow: 0px 0px 0px 6px #f00;
        border-radius: 100px;
    }
}

/*768*/
.review-item{
    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
}

.review-img{
    @include tablets{
        width:rem(130px);
        height: rem(130px);

    }
}

.review-content{
    @include tablets{
        margin-left: 0;
        padding-left: rem(24px);
        padding-right: rem(24px);
    }
}

.review-title{
    @include tablets{
        margin-bottom: rem(16px);
        text-align: center;
    }
}

.review-subtitle{
    @include tablets{
        margin-bottom: rem(16px);
        text-align: center;
    }
}

.review-name{
    @include tablets{
        text-align: center;
    }
}